*{
margin: 0;
padding: 0;
outline: none;
}

html{
    height: 100%;
}

body{
    width:100%;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    background: #F2F2F2;
}

a{
    color: #ff0033;
    text-decoration: none;
    cursor: pointer;
}


/* __________HEADER */

header{
    display: grid;
    width:100%;
    grid-template-columns: repeat(12,1fr);
}

header #head{
    grid-column: 1/13;
    height: 100px;
    background: url(img/header.svg) repeat-x center 0;
    background-size: cover;
    border-bottom: 3px solid #ff0033;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-around;
}

header #head #logo{
    grid-column: 6/8;  
    margin: 15px;
    display: grid;
}

header #head #logo span { 
    font-size: 48px;
    font-family: Dorsa;   
    color: #f2f2f2; 
    text-shadow: 2px 2px #D70101, 2px -2px #D70101, -2px 2px #D70101, -2px -2px #D70101;
    justify-self: center;
    align-self: center;
}

header #head .options{
    display: grid;
    grid-row-gap: 10px;
    grid-auto-rows: 30px;
    justify-items: stretch; 
    padding: 15px;   
}

header #head #user{
    grid-column: 11;
}

header #head #main{
    grid-column: 12;
}

header #head .options a {
    font-size: 14px;
    color: #000000;
    text-shadow: 1px 1px #F2F2F2, 1px -1px #F2F2F2, -1px 1px #F2F2F2, -1px -1px #F2F2F2;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items:center;
    justify-items:center;
}

header #head .options img {
    height: 25px;

}

header #head .options a img:hover{
    transform: scale(1.2,1.2);
}

/* __________NAV */

nav {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 60px; 
    border: solid #ff0033;
    border-width: 0px 3px 3px;
    border-radius: 0px 0px 15px 15px;
    background-color: #FFFFFF;
}

nav a {
    display: grid;
    align-items: center;
    justify-items: center;
    border-left: 1.5px solid #ff0033;
    border-right: 1.5px solid #ff0033;
    text-align: center;
    font-weight: bold;
    font-size: 16px;   
    color: #000000;
}
@media screen and (max-width: 1550px) {nav a {font-size: 14px;}}
@media screen and (max-width: 1400px) {nav a {font-size: 12px;}}

nav a:hover {
    color: #cc3300;
}

nav #menuoption1 {
    border-left-style: none;
}
nav #menuoption10 {
    border-right-style: none;
}

header #showmenu {
    grid-column: 6/8;
    justify-self: center;
}

/* __________MAIN */

aside {
    margin-left: 0.78125%;
    margin-right: 0.78125%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5625%;
    grid-auto-rows: minmax(100px,auto);
}

main .mainborder{
    height:100px;
    background: url(img/frame.svg)repeat-y;
    background-size: cover;
}

main #leftborder{grid-column: 1;}
main #rightborder{grid-column: 12/13;}

main .elementmain{
    padding: 0.78125%;
    border: 2px solid #ff0033;
    border-radius: 5px;
    background-color: #FFFFFF;
}

main #description{
    grid-column: 2/12;
    font-family: Roboto;
    font-size: 14px;
    text-align: justify;

}









