*{
margin: 0;
padding: 0;
outline: none;
}

html{
    height: 100%;
}

body{
    width:100%;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    background: #F2F2F2;
}

a{
    color: #D70101;
    text-decoration: none;
    cursor: pointer;
}


/* __________HEADER */

header{
    display: grid;
    width:100%;
    grid-template-columns: repeat(12,1fr);
}

header #head{
    grid-column: 1/13;
    height: 100px;
    background: url(img/header.svg) repeat-x center 0;
    border-bottom: 2px solid #D70101;
    display: grid;
    grid-template-columns: repeat(12, 130px);
    justify-content: space-around;
}

header #head #logo{
    grid-column: 6/8;  
    margin: 15px 0px;
    display: grid;
}

header #head #logo span { 
    font-size: 48px;
    font-family: Dorsa;   
    color: #f2f2f2; 
    text-shadow: 2px 2px #D70101, 2px -2px #D70101, -2px 2px #D70101, -2px -2px #D70101;
    justify-self: center;
    align-self: center;
}

header #head #options{
    grid-column: 11/13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    grid-auto-rows: 30px;
    margin: 15px 0px;
    justify-items: stretch;
}

header #head #options a {
    display: grid;
    grid-template-columns: 105px 25px;
    font-size: 14px;
    color: #000000;
    text-shadow: 1px 1px #F2F2F2, 1px -1px #F2F2F2, -1px 1px #F2F2F2, -1px -1px #F2F2F2;
}

header #head #options span {
    justify-self: center;
    align-self: center;
}

header #head #options a img {
    height: 25px;
    float: right;
    align-self: center;
}

header #head #options a img:hover{
    transform: scale(1.2,1.2);
}

header #head #options #search{
    grid-column: 2;
}

/* __________NAV */
nav {
    grid-column: 2/12;
}






