*{
margin: 0;
padding: 0;
outline: none;
}

html{
    height: 100%;
}

body{
    width:100%;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

a{
    color: #D70101;
    text-decoration: none;
}


/* __________HEADER */

header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #D70101;
    background: url(img/header.svg) repeat-x center 0;
    grid-column: 1/12;
    
}

header #logo{
    text-align: center;
}

header #options{
    float: right;
    background: rgb(32, 172, 69);
    grid-column: 9/12;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
}